*{
    margin : 0;
    padding : 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}

.container{
    width: 400px;
    height: min-content;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 28px;

}
.search_box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search_box input{
    width: 84%;
    font-size: 22px;
    text-transform: capitalize;
    color: black;
    background-color: #e6f5fb;
    padding : 12px 16px;
    border-radius: 14px;

}
.search_box input::placeholder{
    color: black;
}
.search_box button{
    width: 46px;
    height: 46px;
    background-color:#e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}
.search_box button:hover{color: #fff;
    background-color: #ababab;



}
.weatherbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.weatherbody img{
    width: 60%;


}
.weatherbox {
    margin-block: 20px;
    text-align: center;
}
.weatherbox .Temperature{
    font-size: 45px;
    font-weight: 500;
    position: relative;
}
.weatherbox .Temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 500;
}
.weatherbox .description{
    font-size: 20px;
    font-weight: 700;
    text-transform:capitalize ;

}
.weatherdetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


}
.humidity, .wind{
    display: grid ;
    align-items: center;
}
.humidity {
    margin-left: 20px;
}
.wind {
    margin-right: 20px;
}
.weatherdetails img{
    font-size: 36px;

}
.weatherdetails .text{
    margin-bottom: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight:600;
}
.heading {
    align-items: center;
    width: 200%;
    justify-content: center;
    font-size: 50px;
    font-style: italic;
    color: darkslateblue;
    
}